
section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
  
}

img { 
  border: 12px solid black;
  width: 150px;
  height: 150px;
  background-color: lightblue;
  margin: 30px; 
  padding: 15px 15px 15px 15px; 
  /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */
}
