* { 
  display: block;

}



.fact-1 {
    background-color: #fffacd;
    font-style: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

 .h2 {

 }

p {
  font-weight: bold;

}

.fact-2 {
  background-color: #fffacd;
  font-style:"Ludida Sans", "Lucida Grande", sans-serif;
  font-size:24px;
}

h2 {

 }

.fact-3 { 
  background-color: #fffacd;
}

#p {
  line-height: 50px;

}
