/* * { 
}

/* Sabrina Carrion */
header { 
    background-color: lightgrey;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    
}

/* background of entire webpage */
body    { display:block
    
}


/* nav bar bullet points in the unordered list   */
 ul { display:flex;
    list-style-type: none;
    background-color: rgb(212, 244, 210);
 }

 


/* section of nav bar where text is going to be displayed */
 ul li {
    color:ffffff;
    background-color: rgb(189, 232, 217); 
}

a:link { 
    color: blue;
    text-decoration: none;}

    a:visited { color:black;}

    a:hover { color:darkcyan}

.Work { 
    text-align:left;
    background-color: rgb(189, 232, 217);    
    }

img {
    position:center;
    background-color: black;
} 
    
/* All H2 About, Resume, Work and Contact */
h2 {
    font-style:italic;
background-color: rgb(240, 246, 240);
list-style-type: none;

}




footer { 
    justify-content: center;
    font-style: italic;
    font-size: 16px;
}