* {
    background-color: blanchedalmond;
}


/* background of entire webpage */
body    { 
    display:inline-block;
    font-family: 'Cormorant Garamond', serif;
    
}

header { 
    background-color: rgb(105, 101, 128);
    text-align: left;
    font-size: 36px;
    color:rgb(11, 4, 59);
    
}

/* nav bar bullet points in the unordered list   */
 nav ul { 

    list-style-type:none;
    background-color: rgb(105, 101, 128);
    color:black;
    
 }

 


/* section of nav bar where text is going to be displayed */
 ul li {
    display:inline-flex;
    text-decoration:wavy;
    color:ffffff;

}

    a:hover { 
    color: blue;
    text-decoration: none;}

    a::after { color:black;}

    a:hover { color:darkcyan}

.Work { 
    text-align:left;
    background-color: rgb(77, 62, 92);    
    }

img { display: inline-block;
    position:center;
    background-color: black;
    min-height:100%;
    width:25%
} 

p {
     text-align:center;
    font-size:16px;


}


.About { 

     background-color: rgb(112, 87, 136);

}

 img { 
    position:relative;
     align-content: center;
    min-width: 25%;
    background-color:rgb(112, 87, 136);


}



.Resume


/* All H2 About, Resume, Work and Contact */
h2 { display: inline;
    font-style:italic;
    background-color: rgb(112, 87, 136);
    list-style-type: none;

}

ul li a { display:row, {
    background-color: rgb(112, 87, 136);
    
}




footer { 
    justify-content: center;
    font-style: italic;
    font-size: 18px;
}

@media (min-width: 768px) { 
    .nav flex-wrap: wrap);
}