* {
  box-sizing: border-box;
  

}

body { 
display: inline-block;
flex-direction: column;
  
}

.lesson {
    width: 300px;
    height: 150px;
  }
  
  #section-1 { 

   background-color: black;
   color: yellow;
}

  
.section-blue { 
  background-color: blue;
  color:purple;

}
  
div {
max-width:100%;
background-color: black;
color: white;
}

.container h2 {
width:100vh;
}

#section-5 {
  margin-top:20px;
  text-align: left;
}

#section-6 {
color:yellow
}   
